<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dynamic_app_icon_app">
   <application
   
        android:label="dynamic_app_icon_app"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher_1">
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
  
     <activity
         android:name=".MainActivity"
         android:exported="true"
         android:launchMode="singleTop"
         android:theme="@style/LaunchTheme"
 	android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
         android:hardwareAccelerated="true"
         android:windowSoftInputMode="adjustResize">
         <meta-data
           android:name="io.flutter.embedding.android.NormalTheme"
           android:resource="@style/NormalTheme"
           />
         <intent-filter>
			
		<!-- remove <action android:name="android.intent.action.MAIN"/> from here-->
				
             <category android:name="android.intent.category.LAUNCHER"/>
         </intent-filter>
     </activity>
		
	<!--name activity alias for your default icon and other icons you want to use-->
	<!--Use .MainActivityAlias for default icon and .MainActivityAlias{iconName} for others-->
		
     <activity-alias
     android:exported="true"
         android:label="app"
         android:icon="@mipmap/ic_launcher_1"
         android:name=".MainActivityAlias"
         android:enabled="true" 
        
         android:targetActivity=".MainActivity"> <!--target activity class path will be same for all alias-->
         <intent-filter>
             <action android:name="android.intent.action.MAIN" />
             <category android:name="android.intent.category.LAUNCHER" />
         </intent-filter>
     </activity-alias>
     <!-- <activity-alias used to change app icon dynamically>  : iconone icon, set enabled false initially -->
     <activity-alias
     android:exported="true"
         android:label="app"
         android:icon="@mipmap/ic_launcher_1"
         android:name=".icon1"
    android:enabled="false" 

         android:targetActivity=".MainActivity"> <!--target activity class path will be same for all alias-->
         <intent-filter>
             <action android:name="android.intent.action.MAIN" />
             <category android:name="android.intent.category.LAUNCHER" />
         </intent-filter>
     </activity-alias>
     <activity-alias
         android:label="app"
         android:icon="@mipmap/ic_launcher_2"
         android:name=".icon2"
    android:enabled="false" 
         android:exported="true"
         android:targetActivity=".MainActivity"> <!--target activity class path will be same for all alias-->
         <intent-filter>
             <action android:name="android.intent.action.MAIN" />
             <category android:name="android.intent.category.LAUNCHER" />
         </intent-filter>
     </activity-alias>
     <activity-alias
         android:label="app"
         android:icon="@mipmap/ic_launcher_3"
         android:name=".icon3"
    android:enabled="false" 
         android:exported="true"
         android:targetActivity=".MainActivity"> <!--target activity class path will be same for all alias-->
         <intent-filter>
             <action android:name="android.intent.action.MAIN" />
             <category android:name="android.intent.category.LAUNCHER" />
         </intent-filter>
     </activity-alias>
 </application>
</manifest>
